{% extends 'templates/app.twig'%}

{% block content %}

<div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">sejarah page</h1>
                    </div>
                </div>
            </div>
        </div>

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                <div class="row">
                    <div class="blog-lst col-md-12 pl0">
                        <section id="id-100" class="post single">
<br/>

<p style="font-size:26px; text-align:center;">
السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ
</p>

<p style="text-align:justify;">
Segala puji bagi Allah SWT, tuhan semesta alam yang telah melimpahkan berbagai macam nikmat dan karunia kepada kita semua, Sholawat teriring salam kepada baginda Nabi Muhammad SAW semoga senantiasa membasahi lisan kita.
</p>
<p style="text-align:justify;">
<b>Majelis Ta’lim Ibadurrahman</b> di dirikan pada tanggal 2, Januari, 2011 yang di prakarsai oleh beberapa pemuda, diantara nya adalah <i>Muhammad Iqbal</i>, <i>Muhammad Irfan Rizky</i>, <i>Rifai Ilham Muchyi</i>, <i>Rizky Hermawan</i> dan beberapa pemuda lain nya, dan atas dukungan orang tua dan guru-guru kami, di antara nya <b>Ust. Syihabuddien (Pimp. Mt. Riyadlul Muchsiniin)</b>, <b>Kh. Helmy Abd Mubin. Lc (Pimp. Ponpes Ummul Quro Al-islami)</b>, <b>Kh.Ainul Yaqin Abd Syafi’ie (Pimp. YPI Assyafi’iah)</b>, <b>Habib Muhammad Bin Syeikh Al-Athos (Pimp. Mt. Al-iman)</b> dan <b>Ust. Ubaidillah Ashofari (Pimp. Mt. Kandayas Al-islami)</b>.
</p>
<p style="text-align:justify;">
<b>Majelis Ta’lim Ibadurrahman</b> sendiri di ambil dari nama orang tua kami <b>Bpk. Abdurrahman</b> untuk mengambil barokah dan ridho nya, serta memiliki dua makna yang tersirat di dalam nya , <b>Ibadu</b> <i>(hamba)</i> <b>Arrahman</b> <i>(penyayang)</i> dan bisa di artikan <b><i>Hamba yang penyayang</i></b> atau <b><i>Hamba dari Yang Maha Penyayang</i></b> (Allah SWT).
</p>
<p style="text-align:justify;">
Sejak saat itu kami mulai berkomitmen untuk berjuang bersama untuk membangun dan mensyiarkan perkumpulan ini,dengan beberapa kegiatan yang ada di dalam nya, di antara nya adalah sebagai berikut :
</p>
<ul>
<li>Taman pendidikan Al-Qur’an untuk anak usia dini.</li>
<li>Ta’lim rutin mingguan remaja putra dan putri.</li>
<li>Mengembangkan kesenian islami Hadroh dan Kosidah.</li>
<li>Santunan anak yatim dan faqir miskin.</li>
<li>Perayaan hari besar islam.</li>
<li>Dan lain lain.</li>
</ul>


<p style="text-align:justify;">
Yang Alhamdulillah semua kegiatan itu masih berjalan hingga saat ini dan kami berupaya untuk terus menambah dan meningkatkan demi syiarnya syariat islam dan mengajak muslimin muslimat untuk sama-sama meramaikan <b>Majelis Ta’lim Ibadurrahman</b> ini.
</p>
<p style="text-align:justify;">
Ucapan terimakasih untuk orang tua , para guru,dan seluruh masyarakat yang telah menerima keberadaan kami dan mendukung segala kegiatan <b>Majelis Ta’lim Ibadurrahman</b> ini, semoga perkumpulan ini membawa ridlo ilahi dan kemaslahatan untuk semua nya.
</p>
</section>
</div>
</div>
</div>
</div>
{% endblock %}
